*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: darksalmon;
    background: fixed;
    background-image: url(img/WhatsApp\ Image\ 2022-06-08\ at\ 18.09.30.jpeg);
    background-size: 100%;    
}
h1 {
    color: cyan;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    filter: drop-shadow(0px 0px 2px red);
    animation: neon 2s infinite alternate ease-in-out;
}

@keyframes neon {
    from {
        filter: drop-shadow(0px 0px 10px #ffffff);
    }
    to {
        filter: drop-shadow(4px 10px 8px #ff8f8f);
    }
}
.naruto{
    display: flex;
    justify-content: center;
    position: relative;
    top: -8vh;
    border-radius: 10px;
    animation: neon 2s infinite alternate ease-in-out;
}
.naruto img{
    border-radius: 30px;
}
h2,#msg{
    text-align: center;
    padding-bottom: 2vw;
    text-transform: uppercase;
    color: cyan;
}
#msg {
    color: #FFFFFF;
    margin: 2vh 0 9vh 0;
    font-size: 1rem;
}
form{
    width: 70%;
    height: 40vw;
    position: relative;
    left: 15%;
    right: 15%;
}
fieldset{
    padding: 0 2% 0 2%;
}
legend{
    text-align: center;
    font-size: 1.8vw;
    color: cornflowerblue;
}
p{
    padding-top: 1vh;
}
.pergunta{
    color: green;
    margin-top: 2vh;;
}
p:hover{
    box-shadow: 0.5px 0.5px 10px  white;
}

hr{
    margin-bottom: 2vh;
}
.tipo{
    color: cornflowerblue;
}
.console{
    color: aquamarine;
}
.log{
    color: darkkhaki;
}
.saida p{
    color:#FFFFFF;
}
.if-else{
    color: rgb(236, 92, 236);
}